body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/static/Images/cursor.cur"), auto;
  min-height: calc(100vh - 24px);
}

h1 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}

#grid {
  margin-left: auto;
  margin-right: auto;
}

#grid TR TD {
  border:1px solid white;
  background: #000;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  text-align: center;
}

#grid TR TD:hover {
  cursor: url("/static/Images/pointerCursor.cur"), auto;
}
#grid TR TD.clicked {
    background: #333333;
}

#grid TR TD.mine {
    background: #FF0000 !important;
}

#mode {
  margin-left: auto;
  margin-right: auto;
}
#mode TR TD {
  border:1px solid white;
  background: #000;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  background: #333333;
}

#mode TR TD:hover {
  cursor: url("/static/Images/pointerCursor.cur"), auto;
    background: #444444;
}
#mode TR TD.clicked {
    background: #666666;
}

BUTTON {
  margin: 12px;
}

* {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}




::-webkit-scrollbar {
  width: 3px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}


.fancy-button {
  margin: 5px;
  size: 15%;
  background-color: #000;
  color: white;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid gray;
  outline: none;
  font-size: 75%;
}

.fancy-button:hover {
  background-color: #322B2D;
  cursor: url("/static/Images/pointerCursor.cur"), auto;
}

.mine-image {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mine {
  padding: 0;
}

#grid tr td.flag {
  background-color: #333333;
  padding: 0;
}

@font-face {
  font-family: "7-SEG";
  src: url("/static/7-Segment-Display.ttf");
}

#timer {
  background-color: rgba(0, 0, 0, 0);
  font-family: "7-SEG";
  z-index: 5;
}
#timer-2 {
  background-color: black;
  font-family: "7-SEG";
  color: rgba(252, 251, 239, 0.25);
  margin-top: -17px;
  z-index: -2;
}



form input[type=number], form input[type=text] {
  background-color: #181A1B;
  color: white;
  padding: 6px 7px;
  border-radius: 12px;
  font-size: 75%;
  border: 1px solid gray;
  width: 150px;
  font-family: monospace;
  outline: none;
  cursor: url("/static/Images/textCursor.cur"), auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  margin: auto;
  text-align: center;
  width: 150px;
}

form input[type=submit] {
  width: 100%;
  margin: 0;
  margin-top: 5px;
}

* {
  box-sizing: border-box;
}

#game, #menu {
  text-align: center;
  width: 50%;
  float: left;
}

@media screen and (max-width: 730px) {
  #menu, #game {
    width: 100%;
    float: none;
  }
  #game {
    margin-bottom: 16px;
  }
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: -16px;
  cursor: url("/static/Images/helpCursor.cur"), auto;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: url("/static/Images/helpCursor.cur"), auto;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -13px;
  left: 100px;
  height: 11px;
  width: 11px;
  background-color: #362B2D;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0e0;
}

#mineOverlay {
  position: relative;
  top: -25.31px;
  margin-bottom: -25.31px;
  display: block;
}